button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $color__background-button;
	@include font-size(0.75);
	line-height: 1;
	padding: .4em 1em .4em;

	&:hover {
		}

	&:active,
	&:focus {
		}
}
