.site-branding h1 {
	color: $color_headings;
	font-size: 3em;
}
.site-branding {
	margin: 0 0 0 2.5em;
}
h1 .site-title {
	color: $color_headings;
	text-decoration: none;
	padding: 0;
}
@media screen and (min-width: 30em) {}
@media screen and (min-width: 42em) {
	.site-content {
    margin-left: 1em;
}
}
@media screen and (min-width: 60em) {
	.site-branding{
		margin: 0 0 0 3em;
	}
}
@media screen and (min-width: 80em) {}
@media screen and (min-width: 100em) {}
