.site-branding h1 {
		color: $color_headings;
    font-size: 3em;
}
.site-branding {
    margin: 0 0 1.5em 1.6em !important;
}

.site-main {
	margin: 1.4em auto!important;
	font-size: 0.8em;
	line-height: 1.6em;
}

@media screen and (min-width: 30em) {}
@media screen and (min-width: 42em) {
	.site-main {
		font-size: 1em;
	}
}
@media screen and (min-width: 60em) {
	.site-main {
		font-size: 0.8em;
		line-height: 1.6em;
	}
}
@media screen and (min-width: 80em) {
}
@media screen and (min-width: 100em) {
}
