.site-main {
	margin: 1.4em auto;
	font-size: 0.8em;
	line-height: 1.6em;
}

@media screen and (min-width: 30em) {}
@media screen and (min-width: 42em) {
	.site-main {
		font-size: 1em;
	}
}
@media screen and (min-width: 60em) {
	.site-main {
		font-size: 0.8em;
		line-height: 1.6em;
	}
}
@media screen and (min-width: 80em) {
}
@media screen and (min-width: 100em) {
}
